.App {
  text-align: center;
}

.LandingPage {
  color: yellow;
}

.Movies {
  text-align: left;
}

body {
  background-color: pink;
}

.logo {
  margin-top: 10px;
  margin-bottom: 30px;
}

.image {
  width: '85%';
  max-width: 700px;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 35px;
  border-radius: 14px;
}